.background {
    background-color: #FEDD8A;   
} 
.color{
	color:white;
}
.margen{
	margin:100px;
}
.borde-imagen{
	border-radius: 40%;
}
h2{
	color: red;
}
.alto{
	height: 50px;
}
.ancho{
	width:100%;
}